#scroll-story{
  padding: 10%;
}
section{
  padding-top: 5%;
  font-size: 1.3em;
  line-height: 1.5em;
}
h2{
  font-size: 2.3em;
}
.testdx{
  width: 80%;
  text-align: right
}

.testsx{
  width: 80%;
  padding-left: 5%;
 
}
.viz{
  margin: 3%;
}
svg#up{
  width: 5%;
  fill:hsl(358, 72%, 49%);
  position: fixed;
  
}
#up:hover{
  fill:#eb836a;
}