<div id="scroll-story">
<section id="section0">
  <div class="text">
    <h2>sezione0</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel leo vitae tellus semper egestas vitae at mi. Praesent vitae leo lorem. Duis hendrerit dapibus ex, quis feugiat lectus convallis at. Aenean iaculis commodo ante, sed interdum elit euismod nec. Quisque consequat porttitor sapien, eu faucibus quam consectetur sed. Cras interdum venenatis efficitur. Proin et massa auctor, euismod sem nec, egestas dui. Proin ut consectetur sem. Suspendisse pharetra malesuada quam mollis maximus. Sed varius, nulla eu lobortis fermentum, dui mauris suscipit lacus, sed elementum orci libero quis justo. Duis non laoreet magna, et dictum quam. In fermentum elementum lacus, nec interdum nisl porttitor ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris odio nisi, cursus a dolor sit amet, imperdiet elementum ex. Fusce sit amet quam ornare, cursus est at, porta quam.
    </p>
  </div>
  <div class="viz">
    <iframe title="Trend incidenza povertà assoluta familiare" aria-label="Interactive line chart" id="datawrapper-chart-c0dY4" src="https://datawrapper.dwcdn.net/c0dY4/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>
  </div>
  </section>
<section id="section1">
  <div class="text">
    <h2>sezione1</h2>
    <p>
      Quisque sed eros eget dolor cursus imperdiet eget vitae enim. Aliquam commodo eu est quis scelerisque. Cras tincidunt, ex quis ullamcorper fringilla, nisl mi viverra mauris, vel pulvinar arcu leo non felis. Etiam in quam vitae velit pellentesque maximus sed et lectus. Mauris interdum, diam sagittis dictum luctus, augue ipsum condimentum dolor, non gravida nibh ipsum pellentesque est. Aliquam elementum dignissim nulla, ac interdum elit convallis id. Etiam fermentum pharetra dolor quis porta. Aliquam sit amet turpis vitae purus suscipit tristique sit amet quis leo. Phasellus odio tortor, pharetra in volutpat rutrum, dignissim at nisi. Fusce maximus risus et metus faucibus, sit amet lobortis mi pulvinar. Nulla fringilla, eros at ultrices suscipit, elit erat laoreet neque, id dapibus nibh est nec nunc. Ut elit nibh, aliquet sit amet dui in, sodales suscipit tellus.
    </p>
    <p>
      Quisque sed eros eget dolor cursus imperdiet eget vitae enim. Aliquam commodo eu est quis scelerisque. Cras tincidunt, ex quis ullamcorper fringilla, nisl mi viverra mauris, vel pulvinar arcu leo non felis. Etiam in quam vitae velit pellentesque maximus sed et lectus. Mauris interdum, diam sagittis dictum luctus, augue ipsum condimentum dolor, non gravida nibh ipsum pellentesque est. Aliquam elementum dignissim nulla, ac interdum elit convallis id. Etiam fermentum pharetra dolor quis porta. Aliquam sit amet turpis vitae purus suscipit tristique sit amet quis leo. Phasellus odio tortor, pharetra in volutpat rutrum, dignissim at nisi. Fusce maximus risus et metus faucibus, sit amet lobortis mi pulvinar. Nulla fringilla, eros at ultrices suscipit, elit erat laoreet neque, id dapibus nibh est nec nunc. Ut elit nibh, aliquet sit amet dui in, sodales suscipit tellus.
    </p>
  </div>
</section>
<section id="section2">
  <div class="text">
    <h2>sezione2</h2>
    <p>
      Cras sit amet efficitur neque. Duis at magna malesuada, elementum nunc in, efficitur ligula. Proin quis tincidunt magna, a dignissim tellus. Nulla commodo mi quis odio sagittis efficitur. Sed porttitor in felis ac dapibus. Donec erat odio, placerat id porta sed, varius eu eros. In aliquet nulla tellus, vitae scelerisque enim tristique vitae. Nulla efficitur sed tellus eu vehicula. Vivamus vitae bibendum libero. Integer euismod neque ac mi laoreet accumsan. Pellentesque faucibus vitae risus vel porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec at risus metus. Quisque sed interdum urna, vel condimentum nibh.
    </p>
    <p>
      Cras sit amet efficitur neque. Duis at magna malesuada, elementum nunc in, efficitur ligula. Proin quis tincidunt magna, a dignissim tellus. Nulla commodo mi quis odio sagittis efficitur. Sed porttitor in felis ac dapibus. Donec erat odio, placerat id porta sed, varius eu eros. In aliquet nulla tellus, vitae scelerisque enim tristique vitae. Nulla efficitur sed tellus eu vehicula. Vivamus vitae bibendum libero. Integer euismod neque ac mi laoreet accumsan. Pellentesque faucibus vitae risus vel porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec at risus metus. Quisque sed interdum urna, vel condimentum nibh.
    </p>
  </div>
 </section>
<section id="section3">
  <div class="text">
  <h2>sezione3</h2>
    <p>
      Cras sit amet efficitur neque. Duis at magna malesuada, elementum nunc in, efficitur ligula. Proin quis tincidunt magna, a dignissim tellus. Nulla commodo mi quis odio sagittis efficitur. Sed porttitor in felis ac dapibus. Donec erat odio, placerat id porta sed, varius eu eros. In aliquet nulla tellus, vitae scelerisque enim tristique vitae. Nulla efficitur sed tellus eu vehicula. Vivamus vitae bibendum libero. Integer euismod neque ac mi laoreet accumsan. Pellentesque faucibus vitae risus vel porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec at risus metus. Quisque sed interdum urna, vel condimentum nibh.
    </p>
    <p>
    Cras sit amet efficitur neque. Duis at magna malesuada, elementum nunc in, efficitur ligula. Proin quis tincidunt magna, a dignissim tellus. Nulla commodo mi quis odio sagittis efficitur. Sed porttitor in felis ac dapibus. Donec erat odio, placerat id porta sed, varius eu eros. In aliquet nulla tellus, vitae scelerisque enim tristique vitae. Nulla efficitur sed tellus eu vehicula. Vivamus vitae bibendum libero. Integer euismod neque ac mi laoreet accumsan. Pellentesque faucibus vitae risus vel porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec at risus metus. Quisque sed interdum urna, vel condimentum nibh.
  </p>
  </div>
</section>

</div>
  
