p {
  font-family: Lato;
}

.chap{
  fill:#d7232a;
  }
#line{
  fill:#dc3e44;
}
/*<!--.cls-4{fill:#f5ccce;}-->*/
text#title{
  font-size: 6.5em;
  font-variant: small-caps;
}
text{
  font-style: italic;
  font-size: 2.5em;
}/*
#section{
  display: none;
}*/
.navList{
  border: 0;
  font-weight: normal;
  background-color: white;
}